@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;


.dropdown {
    
    @include tablet {
        width: 75%;
    }

    @include desktop {
        width: 58rem;
    }

    &__btn {
        padding: 12px 24px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    &__menu-container{
        background: white;
        border: 1px solid #ccc;      
        border-radius: 8px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    }

    &__menu-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    &__menu{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-top: 10px;
        padding: 12px;
        
    }

    &__arrow{
        transition: transform 0.3s ease;

        &.open{
            transform: rotate(180deg);
        }
    }

    &__item{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 115px;
        gap: 1rem;
        margin-bottom: 10px;
        font-size: 16px;

        :last-child{
            margin-bottom: 0;
        }
    }

    &__icon{
        width: auto;
        height: 3.125rem;
        object-fit: contain;
    }

    &__icon-emoji{
        width: auto;
        text-align: center;
    }

    &__skill-name{
        text-align: center;

    }
    
    &__other-section {
        list-style: none;
    }

    &__other-title {
        font-weight: 400;
        margin-top: 0;
    }

    &--other-text {
        text-align: center;
    }

}