@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;

.arrow {
    margin-bottom: 5rem;


    @include tablet {
        margin-bottom: 7rem;
    }

    @include desktop {
        margin-bottom: 10rem;
    }

    &__icon {
        margin: 1rem;
        cursor: pointer;
        width: 2rem;
    }

}