@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;


*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    font-family: $main-typeface;
}

p {
    color: $text-color;
}

a, button {
    transition: all 300ms ease;
}