@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;


*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    font-family: "Gaegu";
    // background-color: #EEEEEE;
    background-color:#FAFAFA ;
    color:rgb(34, 40, 49);
}

html {
    scroll-behavior: smooth;
}

p {
    color: $text-color;
    font-size: $mobi-paragraph;
    font-family: "Poppins";

    @include tablet {
        font-size: $tablet-paragraph;
    }
}

li {
    font-family: 'Poppins';
    font-size: $mobi-paragraph;
    color: $text-color;
    
    @include tablet {
        font-size: $tablet-paragraph;
    }
}

a, button {
    transition: all 300ms ease;
}

h1 {
    font-size: 1.5rem;

    @include tablet {
        font-size: 2rem;
    }

    @include desktop {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.5rem;

    @include tablet {
        font-size: 1.7rem;
    }
}

h3 {
    font-size: 1.2rem;

    @include tablet {
        font-size: 1.5rem;
    }
}
