@use './variables' as *;

// BREAKPOINTS

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
  }
  
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
      @content;
  }
}

@mixin bigger-mobile {
  @media (min-width: $bigger-mobile-breakpoint) {
    @content;
  }
}

@mixin bigger-desktop {
  @media (min-width: $bigger-desktop-breakpoint) {
    @content;
  }
}

@mixin border-box {
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
  text-align: center;
}