@font-face {
    font-family: "Poppins";
    src:url('../../src/assets/typography/Poppins-Regular.woff2') format('woff2'),
        url('../../src/assets/typography/Poppins-Regular.woff') format('woff'),
        url('../../src/assets/typography/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src:url('../../src/assets/typography/Poppins-SemiBold.woff2') format('woff2'),
        url('../../src/assets/typography/Poppins-SemiBold.woff') format('woff'),
        url('../../src/assets/typography/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src:url('../../src/assets/typography/Poppins-Bold.woff2') format('woff2'),
        url('../../src/assets/typography/Poppins-Bold.woff') format('woff'),
        url('../../src/assets/typography/Poppins-Bold.ttf') format('truetype');
    font-weight: 600;
}
