@use './typography' as *;


$main-typeface: 'Poppins', Arial, Helvetica, sans-serif;

$text-color : #555555;
$black : black;
$white: white;
$link-hover: grey;

// MEDIA QUERIES
$tablet-breakpoint: 47.938rem; /* 767px */
$desktop-breakpoint: 80rem; /* 1280px */