@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;

.about {
    position: relative;

    &__headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;

        @include tablet {
            height: 15vh;
            margin-top: 3.5rem;
        }

        p {
            margin: 0;
            font-weight: 500;
        }

        h1 {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    &__me-section {
        display: flex;
        flex-direction: column;
    }

    &__photo-container {
        display: flex;
        justify-content: center;
    }

    &__photo {
        height: 25vh;
        background: #dbd7e1;
        border-radius: 1rem;
    }
    
    // &__details-container {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 1.5rem;

    //     @include tablet {
    //         flex-direction: row;
    //         gap: 2rem;
    //         padding: 2rem;
    //     }

    //     @include desktop {
    //         padding: 2.5rem 6rem;
    //     }
    // }

    &__details-container {
        padding: 2rem;

        @include tablet {
            display: flex;
            justify-content: center;
        }

    }

    &__containers {

        padding: 1rem 2rem;

        @include tablet {
            display: flex;
            justify-content: center;
            gap: 2rem;
            // width: 55rem;
        }

        @include desktop {
            gap: 3rem;
            // width: 66rem; 
        }
    }

    &__details {
        gap: 2rem;
        flex: 1;
        margin-bottom: 1rem;
        padding: 1rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        border-radius: 2rem;
        text-align: center;
    }

    &__icon {
        width: 2rem;
    }

    &__title {
        font-size: 1rem;
        margin: 0;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__info {
        margin: 0;
        font-size: 0.813rem;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__profile {
        padding: 0 2rem;
        text-align: justify;


        @include tablet {
            padding: 3rem;
        }

        @include desktop {
            padding: 2rem 6rem;
        }
    }
}